<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349099901580-nvq0q9ll3puli9j9bgi1vbmlekd5cjde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349099901580-nvq0q9ll3puli9j9bgi1vbmlekd5cjde</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IwOaUYHt2B_kqmky_GsSxckXQH8EdLg</string>
	<key>GCM_SENDER_ID</key>
	<string>349099901580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herewego</string>
	<key>PROJECT_ID</key>
	<string>herewego-948dd</string>
	<key>STORAGE_BUCKET</key>
	<string>herewego-948dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349099901580:ios:b556e02d9282242fb431a9</string>
</dict>
</plist>